.footer-part {
      background-color: #24292d;
      padding: 5rem 0;
      height: 400px;
}

.footer-title h5 {
      position: relative;
}

.footer-title h5:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      height: 3px;
      width: 50px;
      background: #1DBB90;

}

.footer-title h5:before {
      content: "";
      position: absolute;
      left: 55px;
      bottom: -7px;
      height: 3px;
      width: 20px;
      background: #1DBB90;


}

.footer-social a i {
      width: 40px;
      height: 40px;
      line-height: 38px;
      text-align: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-bottom: 20px;
      border: 2px solid #fff;
      color: #fff;
      background: transparent;
      margin-right: 10px
}

.footer-first-text p {
      font-size: 1.1rem
}