.success-part {
      padding: 3rem 0;
}

.title h2 span {
      position: relative;
}

.title {
      padding-bottom: 2.5rem;
}

.title h2 span:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: grey;
      -webkit-transform: skewY(-3deg);
      transform: skewY(-3deg);

}