.nav-part {
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      background: #F0FFF0;

}

.nav-part img {
      width: 13rem;
}

.header-nav {
      text-decoration: none;
      line-height: 40px;
      padding: 0 1.1rem;
      margin-right: 10px;
      background: transparent;
      color: black;
      border-radius: 33px;
      font-size: 1.1rem;
      font-weight: 600;
      transition: all linear 0.3s;
}

.header-nav:hover {
      color: #f1f1f1;
      background-color: #1dbb90;
}